<h2>Informações Campeão</h2>

<hr/>

<form #campeaoForm="ngForm">

    <div class="form-group row">

        <label class="col-sm-2 col-form-label">Nome</label>
    
        <div class="col-sm-10">
            <input [(ngModel)]="campeao.nome" required name="nome" #campeaoNome="ngModel" [ngClass]="{'is-invalid': campeaoNome.invalid}" class="form-control">
        
            <div class="invalid-feedback">
                <span>Campeao é requerido</span>
            </div>

        </div>
    
    </div>

    <div class="form-group row">

        <label class="col-sm-2 col-form-label">Email</label>
    
        <div class="col-sm-10">
            <input [(ngModel)]="campeao.email" required name="email" #campeaoEmail="ngModel" [ngClass]="{'is-invalid': campeaoEmail.invalid}" class="form-control">
        
            <div class="invalid-feedback">
                <span>Email é requerido</span>
            </div>

        </div>
    
    </div>

    <div class="form-group row">

        <label class="col-sm-2 col-form-label">Tipo</label>
    
        <div class="col-sm-10">
            <input [(ngModel)]="campeao.tipo" required name="tipo" #campeaoTipo="ngModel" [ngClass]="{'is-invalid': campeaoTipo.invalid}" class="form-control">
        
            <div class="invalid-feedback">
                <span>Tipo é requerido</span>
            </div>

        </div>
    
    </div>

    <div class="form-group row">

        <label class="col-sm-2 col-form-label">Cor do Sabre</label>
    
        <div class="col-sm-10">
            <input [(ngModel)]="campeao.corSabre" required name="corSabre" #campeaoCorSabre="ngModel" [ngClass]="{'is-invalid': campeaoCorSabre.invalid}" class="form-control">
        
            <div class="invalid-feedback">
                <span>Cor do Sabre é requerido</span>
            </div>

        </div>
    
    </div>

    <div class="form-group row">

        <label class="col-sm-2 col-form-label">Afinidade Força</label>
    
        <div class="col-sm-10">
            <input [(ngModel)]="campeao.afinidadeForca" required name="afinidadeForca" #campeaoAfinidadeForca="ngModel" type="number" [ngClass]="{'is-invalid': campeaoAfinidadeForca.invalid}" class="form-control">
        
            <div class="invalid-feedback">
                <span>Afinidade com a Força é requerido</span>
            </div>

        </div>
    
    </div>

    <div class="form-group row">

        <label class="col-sm-2 col-form-label">Força Fisica</label>
    
        <div class="col-sm-10">
            <input [(ngModel)]="campeao.forcaFisica" required name="forcaFisica" #campeaoForcaFisica="ngModel" type="number"[ngClass]="{'is-invalid': campeaoForcaFisica.invalid}" class="form-control">
        
            <div class="invalid-feedback">
                <span>Força Fisica é requerido</span>
            </div>

        </div>
    
    </div>

    <div class="form-group row">

        <label class="col-sm-2 col-form-label">HP</label>
    
        <div class="col-sm-10">
            <input [(ngModel)]="campeao.hp" required name="hp" #campeaoHp="ngModel" type="number"[ngClass]="{'is-invalid': campeaoHp.invalid}" class="form-control">
        
            <div class="invalid-feedback">
                <span>HP é requerido</span>
            </div>

        </div>
    
    </div>

    <div class="form-group row">

        <label class="col-sm-2 col-form-label">Habilidade Com  o Sabre</label>
    
        <div class="col-sm-10">
            <input [(ngModel)]="campeao.habilidadeComSabre" required name="habilidadeComSabre" #campeaoHabilidadeComSabre="ngModel" type="number"[ngClass]="{'is-invalid': campeaoHabilidadeComSabre.invalid}" class="form-control">
        
            <div class="invalid-feedback">
                <span>Habilidade com o Sabre é requerida</span>
            </div>

        </div>
    
    </div>

    <div class="form-group row">

        <label class="col-sm-2 col-form-label">Mental</label>
    
        <div class="col-sm-10">
            <input [(ngModel)]="campeao.mental" required name="mental" #campeaoMental="ngModel" type="number"[ngClass]="{'is-invalid': campeaoMental.invalid}" class="form-control">
        
            <div class="invalid-feedback">
                <span>Mental é requerido</span>
            </div>

        </div>
    
    </div>

    <div class="form-group row">

        <label class="col-sm-2 col-form-label">Previsão</label>
    
        <div class="col-sm-10">
            <input [(ngModel)]="campeao.previsao" required name="previsao" #campeaoPrevisao="ngModel" type="number"[ngClass]="{'is-invalid': campeaoPrevisao.invalid}" class="form-control">
        
            <div class="invalid-feedback">
                <span>Previsão é requerida</span>
            </div>

        </div>
    
    </div>

    <button [disabled]="campeaoForm.invalid" (click)="save()" class="btn btn-primary mr-2">Salvar</button>
    <button [routerLink]="['/campeoes']" class="btn btn-secondary">Voltar</button>

</form>